<main class="description">
  <table>
    <thead>
      <tr>
        <th colspan="3">Apartment &num; <%= @apartment.apartment_number %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amount</td>
        <td>Month</td>
        <td>Status</td>
      </tr>
      <% @ordered_rents = @rents.order(month: :desc) %>
      <% @ordered_rents.each do |rent|%>
        <tr>
          <td><%= rent.amount %></td>
          <td><%= rent.month.strftime("%B %Y") %></td>
          <td><%= rent.pay_status %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</main>