/*  $lobster: Lobster;
  $righteous: Righteous;

  $color-blue-dark: #1B3957;
  $color-blue-mid: #2B4A69;
  $color-gray-mid: #E1EBEA;
  $color-gray-light: #EBF3F3;
  $color-red: #A61C16;*/

/*  element {
  --color-blue-dark: #1B3957;
  --color-blue-mid: #2B4A69;
  --color-gray-mid: #E1EBEA;
  --color-gray-light: #EBF3F3;
  --color-red: #A61C16;
  }*/

/*  html{
  background:url('/media/Winchester.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}*/

  body{
    
    background-size: cover;
    color: #fff;
    /*background:rgba(0,0,0,0.4);*/
    text-align: center;
  }

  .navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 120%;
  }

  .branded-letter{
    font-family: 'Lobster', cursive;
    font-size: 250%;
    color: #1B3957;
  }

  .main-logo {
    font-family: 'Righteous', cursive;
    font-size: 600%;
    text-align: center;
  }

  .living-together {
    font-size: 300%;
    line-height: 600%;
  }

  hr { 
    padding: 0;
    border: none; 
    border-top: medium double #8c8c8c; 
    color: #8c8c8c; 
    text-align: center; 
  } 
  hr:after { 
    content: "§"; 
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em; 
  }

  .footer{
    height: 20px;
    clear: all;
    
  }  

  #alerts h1 {
    font-family: 'Righteous', cursive;
  }

  .floor-plan {
    overflow: hidden;
    position: relative;
  }
  .floor-plan img {
    border-bottom: 40px;*/
    width: 100%;
  }
  .floor-plan .lease-ending {
    background: #A61C16;
    color: white;
    left: -20%;
    position: absolute;
    text-align: center;
    top: 15%;
    transform: rotate(-45deg);
    width: 100%;
  }

  .floor-plan .unoccupied {
    opacity: 0.7;
    background: #EBF3F3;
    color: #EBF3F3;
    left: 0%;
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    height: 100%;
  }

  .floor-plan .overdue {
    opacity: 0.4;
    background: #A61C16;
    color: #A61C16;
    left: 0%;
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    height: 100%;
  }

  .floor-plan .outstanding {
    width: 0; 
    height: 0; 
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;    
    border-bottom: 55px solid yellow;
    color: transparent;
  }

  .floor-plan .apt-number {
    color: #000;
    left: 0%;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    height: 100%;
    font-family: 'Righteous', cursive;
    font-size: 400%;
  }



