  @import url ('https://fonts.googleapis.com/css?family=Lobster|Righteous')

  $color-blue-dark: #1B3957;
  $color-blue-mid: #2B4A69;
  $color-gray-mid: #E1EBEA;
  $color-gray-light: #EBF3F3;
  $color-red: #A61C16;

  body{
    color: $color-blue-dark;
  }

  .navbar-brand {
    font-family: Righteous;
    font-size: 120%;
  }
  .branded-letter{
    font-family: Lobster;
    font-size: 250%;
  }