.thead  {
  background-color: #2B4A69;
  color: #EBF3F3;
  font-size: 16px;
}

.btn {
  padding: 10px 14px;
  border: 0 none;
  font-weight: 700;
  background-color: #E1EBEA;
  color: #1B3957;
}

.note_content {
  text-align: left
}

.new_form {
  text-align: center;
}

.apartment_number {
  color:#1B3957;
}

.drop_down {
  display: inline;
}

/*  $lobster: Lobster;
  $righteous: Righteous;

  $color-blue-dark: #1B3957;
  $color-blue-mid: #2B4A69;
  $color-gray-mid: #E1EBEA;
  $color-gray-light: #EBF3F3;
  $color-red: #A61C16;*/

/*  html{
  background:url('/media/Winchester.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
}*/
