<div id="alerts">
  <div class="col-sm-3">

  <%= erb :'_alerts', locals: { mode: "all" } %>

  </div>
</div>

<main class="overview">
  <div class="overview-container">
    <%@apartments.each do |apartment|%>
      <span> <a href='/landlord/apartment/<%= apartment.id%>'><%=apartment.apartment_number %> </a></span>
    <% end %>
  </div>
</main>