

<div class="apartment-index-wrapper">
  <div id="alerts">
    <%= erb :'_alerts', locals: { mode: "all" } %>
  </div>

  <div class="container" id="apartments">
    <% @apartments.each do |apt| %>
      <div class="col-xs-12 col-sm-6 col-md-3 floor-plan-holder">
      <span class="pay-rent">
        <% if apt.tenant %>
        <!-- todo: move below inline styling to css -->
        <form method="post" action="/landlord/apartment/<%=apt.id %>/rent_update" style="display:inline">
          <button class="btn" class="apartment-pay-button"> Pay </button>
        </form>
        <% end %>
        <a href='landlord/apartment/<%= apt.apartment_number%>'><div class="floor-plan">
          <img src="/media/squareF.jpg" alt="">
          <span class="apt-number"><%= apt.apartment_number %></span>
          </span>
          <% if apt.lease_ending? %>
            <span class="lease-ending">lease ending</span>
          <% end %>
          <% if apt.outstanding? %>
            <span class="outstanding"><img src="/media/warning.gif"></span>
          <% end %>
          <% if apt.overdue? %>
            <span class="overdue"></span>
          <% elsif apt.paid_upcoming? %>
            <span class="paid_upcoming"></span>
          <% end %>
          <% unless apt.tenant %>
            <span class="unoccupied"></span>
          <% end %>
        </div></a>
      </div>
    <% end %>
  </div>
</div>

