<main class="overview">
  <div class="overview-container">
    <%@apartments.each do |apartment|%>
      <span> <a href='/landlord/apartment/<%= apartment.id%>'><%=apartment.apartment_number %> </a></span>
    <% end %>
  </div>
</main>

<div id="alerts">

  <%= erb :_alerts %>

</div>