<main class="overview">
  <div class="overview-container">
    <%@apartments.each do |apartment|%>
      <span> <a href='/landlord/apartment/<%= apartment.id%>'><%=apartment.apartment_number %> </a></span>
    <% end %>
  </div>
</main>

<div id="alerts">

  <header>
    <h1>Alerts</h1>
  </header>

  <section class="overdue">
    <header>
      <h2 class="alerts-title">Overdue rent</h2>
    </header>
    <main class="alerts-body">
      <ul class="alerts-list">
        <!--populate the list with query on overdue rent -->
      </ul>
    </main>
  </section>

  <section class="outstanding">
    <header>
      <h2 class="alerts-title">Outstanding service requests</h2>
    </header>
    <main class="alerts-body">
      <ul class="alerts-list">
        <!--populate the list with query on service requests -->
      </ul>
    </main>
  </section>

  <section class="lease-ending">
    <header>
      <h2 class="alerts-title">Lease ending soon</h2>
    </header>
    <main class="alerts-body">
      <ul class="alerts-list">
        <!--populate the list with query on lease ending soon -->
      </ul>
    </main>
  </section>

</div>