<div class="STUFF">
  <div id="alerts">
    <%= erb :'_alerts', locals: { mode: "all" } %>
  </div>

  <div class="container" id="apartments">
    <% @apartments.each do |apt| %>
      <div class="col-xs-12 col-sm-6 col-md-3 floor-plan-holder">
        <a href='landlord/apartment/<%= apt.id%>'><div class="floor-plan">
          <img src="/media/squareF.jpg" alt="">
          <span class="apt-number"><%= apt.apartment_number %></span>
          <% if apt.lease_ending? %>
            <span class="lease-ending">lease ending</span>
          <% end %>
          <% if apt.outstanding? %>
            <span class="outstanding"><img src="/media/warning.gif"></span>
          <% end %>
          <% if apt.overdue? %>
            <span class="overdue">overdue</span>
          <% end %>
          <% unless apt.tenant %>
            <span class="unoccupied">unoccupied</span>
          <% end %>
        </div></a>
      </div>
    <% end %>
  </div>
</div>