<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 Landlordia Management | <a href="/">Terms of Privacy</a> | <a href="/">Contact</a></p>
      </div>
</footer>