<nav class="navbar page-navbar">
  <section class="navbar-brand">
    <a class="site-name" href="/">Landlordia</a><!--to float left-->
  </section>
  <section class="login_button">
    Welcome, Landlord
  </section>
</nav>