<nav class="navbar page-navbar">
  <section class="navbar-brand">
    <!-- <a class="site-name" href="/">Landlordia</a> -->
    <a class="navbar-brand"><span class="branded-letter">&#163;</span>andlordia</a>
  </section>
  <section class="login_button">
    <span class="landlord-page"><a href="/landlord">All</a></span>
    Welcome, Landlord
  </section>
</nav>x