<nav class="navbar page-navbar">
  <section class="navbar-brand">
    <a class="site-name" href="/">Landlordia</a><!--to float left-->
  </section>
  <section class="login_button">
    <a href="/">Welcome, Landlord</a><!--to float right-->
  </section>
</nav>