<!-- navigation bar  PARTIAL? -->
<nav class="navbar page-navbar">
  <section class="navbar-brand">
    <a class="site-name" href="/">Landlordia</a><!--to float left-->
  </section>
  <section class="login_button">
    <a>Login</a><!--to float right-->
  </section>
</nav>

<section>
  <img src="" title="" />
</section>




<!-- footer THIS SHOULD BECOME A PARTIAL!!! -->
<footer>
  <p>&copy; 2016 Landlordia Management</p>
  <ul>
    <li><a href="/">Terms of Privacy</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
</footer>