<!--this navigation bar is different than the partial-->
<nav class="navbar page-navbar">
  <section class="navbar-brand">
    <a class="site-name" href="/">Landlordia</a><!--to float left-->
  </section>
  <button>
    <a href="/landlord">Login</a><!--to float right-->
  </button>
</nav>

<div class="container">
  <h1>Landlordia</h1>
  <hr />
  <p>Living together</p>
  <a href="/"></a>
</div>