<link rel="stylesheet" href="/stylesheets/homepage.css">
<!--this navigation bar is different than the partial-->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <span class="navbar-brand"><a href="/"><span class="branded-letter">L</span>andlordia</a></span>
</div>

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/landlord">Landlord</a></li>
    <li><a href="tenant/note/new">Tenant</a></li>
  </ul>
</div>



<div class="home-page-container">
  <h1 class="main-logo"><span class="branded-letter">L</span>andlordia</h1>
  <p class="main-logo living-together">Living together</p>
  <a href="/"></a>
</div>